/* Hoja de estilo de Footer1 */
.footer1{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.8px;
}
