.containerApp{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.AppSection1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Appbox{
    
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    padding: 10px 0px;
}
.Appbox span, .Appboxh1, p, .AppboxButtons{
    margin-top: 15px;
}
.AppboxButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
/* Botones */
.AppboxButtons a{
    text-decoration: none;
}
.AppboxButtons button{
    background-color: #2b2b2a00;
    --color: #fff;
    width: 230px;
    height: 2.6em;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    margin-top: 10px;
}
   
.AppboxButtons button:hover {
    background-color: #ffffff;
    color: #2b2b2a;
    transition: all .7s;
   }

/* Fin de botones */

.AppSection2{
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* MediScreen */
@media (max-width: 602px) {
    .AppboxButtons{
        flex-direction: column;
        align-items: center;
    }
  }
  